/* Custom CSS
-------------------------*/
/***BUG FIXES***/
/******General******/
#page-calendar-event .form-item .form-setting, #page-calendar-event .form-item .form-description, #page-calendar-event .mform .fitem .felement, 
#page-calendar-event #page-mod-forum-search .c1, #page-calendar-event .mform .fdescription.required, #page-calendar-event .userprofile dl.list dd, 
#page-calendar-event .form-horizontal .controls {	margin-left: auto !important;}
#page-calendar-event .form-item .form-label, #page-calendar-event .mform .fitem div.fitemtitle, #page-calendar-event .userprofile dl.list dt, 
#page-calendar-event .form-horizontal .control-label {width: auto !important;}
.feditor {position: relative;z-index: 999;}
.headingblock {font-weight: normal;}
.coursebox>.info>.name, .coursebox .content .teachers, .coursebox .content .courseimage, .coursebox .content .coursefile {width: 100%;}
.coursebox .content .summary, .coursebox .content .coursecat {float: none;width: 100%;}
@-moz-document url-prefix() {* {font-weight: normal !important;}}
/******General from Moodle 2.4 - still need to retest for 2.5+******/
.kaltura-video {padding-top: 34px;clear: both;}/*fixes kaltura plugin video bugs*/
.mymedia .container {width:100%;margin:0}/*fixes my media page layout bugs*/
#region-bs-main, .block {overflow-x:auto;}/*fixes overflow from big tables and long filenames*/
#region-bs-main .tooltip {position: relative;}/*fixes plugin page layout bugs*/
#page-admin-plugins #region-bs-main td {-ms-word-break: break-all;word-break: break-all;word-break: break-word;}/*fixes plugin page layout bugs*/
.maincalendar .header strong {font-weight:normal;}
.path-mod-book .book_toc_bullets li li {list-style: none;}
.curr_manageclusters, span.curr_cluster_instance, td.ygtvcell, td.ygtvtp, td.ygtvcontent {background-color:transparent;}
.block_tree>li>p>a, .block_tree>li>p>span, .block_tree .nav-header {text-shadow:none;}


/***END BUG FIXES***/
 


/* Custom CSS
-------------------------*/
body, p,ul,ol,dl,input,textarea {-moz-osx-font-smoothing: grayscale;-webkit-font-smoothing: antialiased;font-smoothing: antialiased;}
h1,h2,h3,h4,h5,h6 {font-family: "Lato", "Gill Sans", "Gill Sans MT", Calibri, Arial, sans-serif;font-weight:normal;}
h1 {font-size:27px;}
h2 {font-size:21px;}
h3 {font-size:17px}
body{
	background: #93bacc;
	background: -moz-radial-gradient(center, ellipse cover, #ffffff 0%, #ffffff 21%, #93bacc 100%);
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, , color-stop(0%, #ffffff), color-stop(21%, #ffffff), color-stop(100%, #93bacc));
	background: -webkit-radial-gradient(center, ellipse cover, #ffffff 0%, #ffffff 21%, #93bacc 100%);
	background: -o-radial-gradient(center, ellipse cover, #ffffff 0%, #ffffff 21%, #93bacc 100%);
	background: -ms-radial-gradient(center, ellipse cover, #ffffff 0%, #ffffff 21%, #93bacc 100%);
	background: radial-gradient(ellipse at center, #ffffff 0%, #ffffff 21%, #93bacc 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#93bacc', GradientType=1 );
	padding-top:0;
	font: 400 14px/24px "Lato", Arial, "Helvetica Neue", Helvetica, sans-serif;
}
a, a:link{
	color: #860038;
	text-decoration: none;
	-o-transition:.4s;
	-ms-transition:.4s;
	-moz-transition:.4s;
	-webkit-transition:.4s;
	transition:.4s;
}
a:hover, a:focus {
	text-decoration: underline;
}
p {
  line-height: 24px;
  margin-top: 12px;
  margin-bottom: 12px;
}
#logo {
    float: left;
    margin: 0;
	width:34%;
}
#banner {
    margin: 0;
    padding: 0;
    width: 100%;
}
.navbar-fixed-top {
	position:relative;
	background: #fff;
	border-bottom: 13px solid #005a84;
	-moz-box-shadow: 0 0 8px rgba(0,0,0,.8);
	-webkit-box-shadow: 0 0 8px rgba(0,0,0,.8);
	box-shadow: 0 0 8px rgba(0,0,0,.8);
	background: rgba(245,245,245,1);
	background: -moz-linear-gradient(top, rgba(245,245,245,1) 0%, rgba(255,255,255,1) 13%, rgba(246,246,246,1) 84%, rgba(234,234,234,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(245,245,245,1)), color-stop(13%, rgba(255,255,255,1)), color-stop(84%, rgba(246,246,246,1)), color-stop(100%, rgba(234,234,234,1)));
	background: -webkit-linear-gradient(top, rgba(245,245,245,1) 0%, rgba(255,255,255,1) 13%, rgba(246,246,246,1) 84%, rgba(234,234,234,1) 100%);
	background: -o-linear-gradient(top, rgba(245,245,245,1) 0%, rgba(255,255,255,1) 13%, rgba(246,246,246,1) 84%, rgba(234,234,234,1) 100%);
	background: -ms-linear-gradient(top, rgba(245,245,245,1) 0%, rgba(255,255,255,1) 13%, rgba(246,246,246,1) 84%, rgba(234,234,234,1) 100%);
	background: linear-gradient(to bottom, rgba(245,245,245,1) 0%, rgba(255,255,255,1) 13%, rgba(246,246,246,1) 84%, rgba(234,234,234,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f5f5', endColorstr='#eaeaea', GradientType=0 );
}
.navbar-inner {
	background: transparent;
	filter:none;
}

#tabs {
	float:right;
	clear:right;
	top: 40px;
	position: relative;
}
#tabs .nav>li {
	color: #f5f5f5;
	-webkit-border-top-left-radius: 8px;
	-webkit-border-top-right-radius: 8px;
	-moz-border-radius-topleft: 8px;
	-moz-border-radius-topright: 8px;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	margin-left: 2px;
	background-color: #005a84;
	background: rgba(0,90,132,1);
	background: -moz-linear-gradient(top, rgba(0,90,132,1) 0%, rgba(0,115,168,1) 21%, rgba(0,90,132,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,90,132,1)), color-stop(21%, rgba(0,115,168,1)), color-stop(100%, rgba(0,90,132,1)));
	background: -webkit-linear-gradient(top, rgba(0,90,132,1) 0%, rgba(0,115,168,1) 21%, rgba(0,90,132,1) 100%);
	background: -o-linear-gradient(top, rgba(0,90,132,1) 0%, rgba(0,115,168,1) 21%, rgba(0,90,132,1) 100%);
	background: -ms-linear-gradient(top, rgba(0,90,132,1) 0%, rgba(0,115,168,1) 21%, rgba(0,90,132,1) 100%);
	background: linear-gradient(to bottom, rgba(0,90,132,1) 0%, rgba(0,115,168,1) 21%, rgba(0,90,132,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#005a84', endColorstr='#005a84', GradientType=0 );
	border-top: 1px solid #00334b;
}
#tabs .nav>li:hover {
	background-image:none;
	background-color: #005a84;
}
#tabs .nav>li>a {
	font-family: "Lato", "Gill Sans", "Gill Sans MT", Calibri, Arial, sans-serif;
	font-size: 15px;
	font-weight:900;
	color: #f5f5f5;
	text-transform:uppercase;
	padding: 10px 15px 10px;
	text-shadow: none;
}
#tabs .nav>li>a:hover {
	color: #002e44;
	text-shadow: 1px 1px 1px rgba(255,255,255,0.2),
				-1px -1px 0px rgba(0,0,0,0.9);
}
.navbar .open>.dropdown-menu {
	overflow-y: visible;
}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus, 
.dropdown-submenu:hover > a, .dropdown-submenu:focus > a {
	color: #f5f5f5;
    background-color: #860038;
    background-image: none;
}
.navbar .nav li.dropdown.open>.dropdown-toggle, 
.navbar .nav li.dropdown.active>.dropdown-toggle, 
.navbar .nav li.dropdown.open.active>.dropdown-toggle {
	background-color: transparent;
}
.navbar .nav li.dropdown>.dropdown-toggle .caret {
	border-top-color: #f5f5f5;
	border-bottom-color: #f5f5f5;
}
.navbar .nav li.dropdown.open>.dropdown-toggle .caret, 
.navbar .nav li.dropdown.active>.dropdown-toggle .caret, 
.navbar .nav li.dropdown.open.active>.dropdown-toggle .caret {
	border-top-color: #f5f5f5;
	border-bottom-color: #f5f5f5;
}

.navbar .nav.pull-right {
	position: relative;
	text-shadow: 1px 1px 1px rgba(255,255,255,0.2),
				-1px -1px 0px rgba(0,0,0,0.9);
}
.navbar .nav>li.navbar-text {
	text-shadow:none;
	font-weight: bold;
}
.navbar .nav>li.profilepic, .navbar .nav>li.navbar-text {
	border-right: none;
}
.navbar-fixed-top .navbar-inner, .navbar-static-top .navbar-inner {
	border: none;
}
.navbar .logininfo {
}
.navbar .logininfo a {
	color: #860038;
}
.navbar .logininfo a  + a {
	color: #D06F1A;
	font-style: italic;
}
.navbar .logininfo a:hover {
	color: #005a84;
	text-decoration: none;
}
.navbar li.profilepic a {
	padding: 5px 0 5px 8px;
}

.ls-layer,
.ls-layer * {
	text-align: left;
	white-space: nowrap;
	font-weight: normal;
	text-shadow: none;
}			
.l4-s1 {
	background-color: #212121;
	background-color: rgba(0,0,0,.5);
	padding: 0 13px;
	font-family: "Oswald", "Helvetica", "Arial", "Lucida Grande", "Verdana", "Gill Sans", sans-serif;
	font-size:21px;
	letter-spacing:0px;
	color:#f5f5f5;
}

.l4-s2 {
	background-color: #212121;
	background-color: rgba(0,0,0,.5);
	padding: 0 13px;
	font-family: "Oswald", "Helvetica", "Arial", "Lucida Grande", "Verdana", "Gill Sans", sans-serif;
	font-size:27px;
	letter-spacing:0px;
	color:#f5f5f5;
}

.l4-name {
	font-family: "Lato", "Gill Sans", "Gill Sans MT", Calibri, Arial, sans-serif;
	background-color: #111;
	background-color: rgba(0,0,0,.5);
	padding: 0 13px;
	color: #fdcc99;
	text-shadow: none;
	font-size:14px;
}	


#page-wrap {
	-moz-box-shadow: 0 0 8px rgba(0,0,0,.5);
	-webkit-box-shadow: 0 0 8px rgba(0,0,0,59);
	box-shadow: 0 0 8px rgba(0,0,0,.5);
	position: relative;
}
#page {
	background-color: #f5f5f5;
	padding: 8px 21px 21px 21px;
	-moz-box-shadow: 0 0 40px rgba(0, 0, 0, 0.2) inset;
	-webkit-box-shadow: 0 0 40px rgba(0, 0, 0, 0.2) inset;
	box-shadow: 0 0 40px rgba(0, 0, 0, 0.2) inset;
}
.pagelayout-frontpage #page {
	padding-top: 34px;
	border-top: 5px #860038 solid;
}
#page-header {
	background-color: transparent;
	overflow: hidden;
}
.pagelayout-frontpage #page-header {
	display:none;
}
#page-content {
	padding-top:2%;
}
.breadcrumb {
	background-color: transparent;
	margin:0;
}
.breadcrumb li a {
	color: #641216;
	text-shadow: none;
	padding-right: 6px;
	padding-left: 6px;
}
.breadcrumb li a:hover {
	color: #383838;
}
.breadcrumb li:last-child a,.breadcrumb li:last-child span {
	font-weight:bold;
}
.breadcrumb>li>.divider {
	color: #383838;
}

.pagelayout-frontpage .breadcrumb {
	display:none;
}
#page-header .breadcrumb-button {
	padding:0;
} 
.block {
	background-color: #fff;
	border: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	padding-top:0;	
	margin-bottom: 55px;
}
.block {
  	position:relative;       
    -webkit-box-shadow:0px 2px 8px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow:0px 2px 8px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    box-shadow:0px 2px 8px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
	overflow:visible;		
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}
#block-region-side-pre .block::before {
    content: '';
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    bottom: -18px;
    z-index: -10;
    border: 9px solid;
    border-color: #004e72 transparent transparent transparent;    
}
#block-region-side-pre .block::before {left: 0;}

#block-region-side-pre .block::after {
    content: '';
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    top: -9px;
    z-index: -10;
    border: 9px solid;
    border-color: transparent #002e44 transparent transparent;  
}
#block-region-side-pre .block::after {left: -9px;}
#block-region-side-pre .block {
	-webkit-border-bottom-right-radius: 21px;
	-moz-border-radius-bottomright: 21px;
	border-bottom-right-radius: 21px;
	margin-left:-30px;
}

#block-region-side-post .block::before {
    content: '';
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    bottom: -18px;
    z-index: -10;
    border: 9px solid;
    border-color: #004e72 transparent transparent transparent;    
}
#block-region-side-post .block::before {right: 0;}

#block-region-side-post .block::after {
    content: '';
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    top: -9px;
    z-index: -10;
    border: 9px solid;
    border-color: transparent transparent transparent #002e44;  
}
#block-region-side-post .block::after {right:-9px;}

#block-region-side-post .block {
	-webkit-border-bottom-left-radius: 21px;
	-moz-border-radius-bottomleft: 21px;
	border-bottom-left-radius: 21px;
	margin-right:-30px;
}
.block .header .title h2, .block h3.main {
	font-family: "Lato", "Gill Sans", "Gill Sans MT", Calibri, Arial, sans-serif;
	font-size: 17px;
	color: #f5f5f5;
	text-shadow: none;
	text-transform: uppercase;
	font-weight: 700;
	padding: 15px 0px 8px 13px;
	background-color: #005a84;
}
.block .content {
	background-color: transparent;
}
.block .header .title h2:before {
    font-family: FontAwesome;
    font-size: 1.2em;
    margin-right: .3em;
    content: "\f0c9";
	color: #93bacc;
	text-shadow: 1px 1px 0px rgba(255,255,255,0.2), 
				-1px -1px 0px rgba(0,0,0,0.8);
}

.coursebox>.info>.name a {
	color: #808080;
}
.coursebox>.info>.name, .coursebox .content .teachers, .coursebox .content .courseimage, .coursebox .content .coursefile {
	width: 100%;
}
.coursebox .content .summary, .coursebox .content .coursecat {
	float: none;
	width: 100%;
}
.courses .coursebox.even {
	background-color: transparent;
}
.courses .coursebox:hover, .courses	.coursebox.even:hover {
	background-color: #f5f5f5;
}

/*CRDF Profile Page Tweak*/
#id_moodle_optional,#id_moodle_interests {display:none;}

#page-footer {
	border-top: 5px #860038 solid;
	background-color:#005a84;
	box-shadow: 0 0 8px rgba(0,0,0,.5);
	text-align:left;
	position:relative;
	color:#f5f5f5;
	padding: 0;
	margin: 0;
}
#footer-content {
	background:transparent url('[[pix:theme|map]]') top center no-repeat;
	height:144px;
}
#page-footer h3 {
	font-weight:bold;
	margin-bottom:0;
}
#page-footer a,#page-footer a:link  {
	color:#fdcc99;
}
#page-footer a:hover {
	color:#D06F1A;
	text-decoration:underline;
}
#page-footer a.brand  {
	display:none;
	float:left;
}
#page-footer a.brand {
	margin: 27px 0 0 8px;
}
#page-footer a.brand img  {
	height:auto;
}
#page-footer .navbar-text {
	line-height: inherit;
}
#page-footer ul {
	text-shadow: none;
}
#page-footer li {
	list-style:none;
	text-align:center;
}
#page-footer li.first {
	font-weight:bold;
}
#page-footer .helplink {
	float: right
}



/* Font Awesome Block Icons */

.dir-rtl .collapsed .tree_item.branch:before { 
	content: " \f053";
}

.block_news_items .header .title h2:before {
    content:"\f0a1";
}

.block_navigation .header .title h2:before {
    content:"\f0e8";
}

.block_calendar_upcoming .header .title h2:before,
.block_calendar_month .header .title h2:before {
    content:"\f073";
}

.block_course_list .header .title h2:before {
    content:"\f108";
}

.block_completionstatus .header .title h2:before,
.block_selfcompletion .header .title h2:before {
    content:"\f0e4";
}

.block_rss_client .header .title h2:before {
    content:"\f09e";
}

.block_blog_menu .header .title h2:before {
    content:"\f02d";
}

.block_quiz_results .header .title h2:before {
    content:"\f080";
}

.block_quiz_navblock .header .title h2:before {
    content:"\f126";
}

.block_glossary_random .header .title h2:before {
    content:"\f0eb";
}

.block_book_toc .header .title h2:before {
    content:"\f02d";
}


.block_participants .header .title h2:before,
.block_online_users .header .title h2:before {
    content:"\f0c0";
}

.block_html .header .title h2:before {
    content:"\f022";
}

.block_section_links .header .title h2:before {
    content:"\f02e";
}

.block_activity_modules .header .title h2:before {
    content:"\f12e";
}

.block_comments .header .title h2:before {
    content:"\f075";
}

.block_settings .header .title h2:before {
    content:"\f085";
}

.block_admin_bookmarks .header .title h2:before{
    content:"\f02e";
}

.block_blog_tags .header .title h2:before,
.block_tags .header .title h2:before {
    content:"\f02c";
}

.block_private_files .header .title h2:before {
    content:"\f114";
}

.block_block_mentees .header .title h2:before {
    content:"\f0c0";
}

.block_messages .header .title h2:before {
    content:"\f0e0";
}

.block_community .header .title h2:before {
    content:"\f0ac";
}

.block_login .header .title h2:before {
    content:"\f007";
}

.block_recent_activity .header .title h2:before {
    content:"\f017";
}

.block_search_forums .header .title h2:before {
    content:"\f0e6";
}

.block_myprofile .header .title h2:before {
    content:"\f007";
}

.block_adminblock .header .title h2:before {
    content:"\f009";
}

.block_feedback .header .title h2:before {
    content:"\f087";
}

.block_flickr .header .title h2:before {
    content:"\f03e";
}

.block_youtube .header .title h2:before {
    content:"\f145";
}

.block_course_badges .header .title h2:before {
    content:"\f091";
}

.block_twitter_search .header .title h2:before {
    content:"\f099";
}



/* Large desktop */
@media (min-width: 1200px) {
	.calendartable th {font-size: 15px;}
}

/* Portrait tablet to landscape and desktop */
@media (min-width: 980px) and (max-width: 1199px) {
	.calendartable th {font-size: 11px;}
	.block .minicalendar th {font-size: 11px;}
    /* #tabs {top: 35px;} */
}
 
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
	.calendartable th {font-size: 9px;}
	.block .minicalendar th {font-size: 8px;}
	body {padding:0;}
	.navbar-fixed-top {margin-bottom:0;}
	#tabs {width: 100%;top:10px;}
}
 
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
	.maincalendar .header strong {font-size:11px;-ms-word-break: break-all;word-break: break-all;word-break: break-word;}
	.navbar-fixed-top {padding: 0 21px;}
	body {padding:0;}
	.navbar-fixed-top {margin:0;}
	#tabs {width: 100%;top:10px;}
	.pagelayout-frontpage #page {padding-top: 0px;}
	.block {margin-bottom:21px;}
	#block-region-side-pre .block,
	#block-region-side-post .block {
		margin-left:0px;
		margin-right:0px;
		-webkit-border-bottom-left-radius: 21px;
		-moz-border-radius-bottomleft: 21px;
		border-bottom-left-radius: 21px;
		-webkit-border-bottom-right-radius: 21px;
		-moz-border-radius-bottomright: 21px;
		border-bottom-right-radius: 21px;
	}
}
/* Landscape phones and down */
@media (max-width: 480px) {
	.navbar-fixed-top {padding: 0 21px;}
	#tabs {width: 100%;top:10px;}
	.container-fluid {padding: auto;}
	.block {margin-bottom:21px;}
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
/* Styles */
}

/* Smartphones (landscape) ----------- */
@media only screen 
and (min-width : 321px) {
/* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen 
and (max-width : 320px) {
/* Styles */
}

/* iPads (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
/* Styles */
}

/* iPads (landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
/* Styles */
}

/* iPads (portrait) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
/* Styles */
	body {padding-right: 20px;padding-left: 20px;}
	#page-content-wrap {padding:0 21px;}
}
/**********
iPad 3
**********/
@media
only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : landscape)
and (-webkit-min-device-pixel-ratio : 2) {
/* Styles */

}

@media
only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : portrait)
and (-webkit-min-device-pixel-ratio : 2) {
/* Styles */
	body {padding-right: 20px;padding-left: 20px;}
	#page-content-wrap {padding:0 21px;}
}
/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 1224px) {
/* Styles */
}

/* Large screens ----------- */
@media only screen 
and (min-width : 1824px) {
/* Styles */
}

/* iPhone 4 ----------- */
@media
only screen
and (min-device-width : 320px)
and (max-device-width : 480px)
and (orientation : landscape)
and (-webkit-min-device-pixel-ratio : 2) {
/* Styles */
}

@media
only screen
and (min-device-width : 320px)
and (max-device-width : 480px)
and (orientation : portrait)
and (-webkit-min-device-pixel-ratio : 2) {
/* Styles */
}
@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) { 
  
  /* Retina-specific stuff here */

}



